torch
transformers
sentence-transformers
langchain==0.0.352
langchain-community==0.0.19
langchain-core==0.1.14
streamlit
faiss-cpu
python-docx
pdf2image
PyPDF2
langchain-groq
docx2txt
pypdf
pytesseract


